
.primary-button {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: blue;
  color: white;
  border-color: black;
}

.close-button {
  background-color: Transparent;
  border-color: blue;
}


button {
  z-index: 200;
}
