.user-grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto 25px;
  grid-template-rows: auto;
}

.user-grid > div {
  padding: 5px;
  text-align: left;
  overflow: hidden;
}

.user-grid > header {
  padding: 5px;
  margin: 0;
  background: rgb(250, 235, 235);
  text-align: left;
  z-index: -1;
  padding-bottom: 5px;
  font-weight: bold;
  font-size: 1.2rem;
}
